.headerButton {
  background: #d3d3d3;
  color: #222;
  border: none;
  border-radius: 16px;
  padding: 6px 18px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border 0.2s;
}

.headerButton:hover {
  background: #bdbdbd;
}

.login {
    background: #111;
    color: #fff;
    border: 2px solid #fff;
  }
  
  .signup {
    background: #fff;
    color: #222;
    border: none;
  }

@media (max-width: 600px) {
  .headerButton {
    padding: 5px 15px;
    font-size: 0.9rem;
  }
} 