.header {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 24px;
  background: #ffffffe0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sideBarBTN {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sideBarBTN > svg {
  width: 22px;
  height: 22px;
  color: rgb(44, 44, 44);
}

.ketiLogo {
  width: 60px;
  cursor: pointer;
}

/* .ketiLogo:hover {
  transform: scale(1.05);
} */

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.userInitialBtn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: background 0.2s;
}

.userInitialBtn:hover {
  background: #d6d6d6;
}

@media (max-width: 600px) {
  .header {
    padding: 8px 8px;
  }
  .ketiLogo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 45px;
  }
}
.userWelcome {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  display: flex;
  align-items: center;
  gap: 12px;
  > button {
    background-color: #333;
    border-radius: 6px;
    padding: 6px 8px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    color: #e7e7e7;
    display: flex;
    align-items: center;
    gap: 6px;
    > svg {
      width: 20px;
      height: 20px;
      color: #e7e7e7;
    }
  }

  @media (max-width: 600px) {
    span {
      display: none;
    }
    > button {
      padding: 4px 6px;
      font-size: 12px;
      > svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
