.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 240px;
  background: #03274b;
  color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.open {
  transform: translateX(0);
}

.header {
  background: #405c79;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  box-sizing: border-box;
}

.title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.chatList {
  flex-grow: 0;
  padding: 10px 0;
  border-bottom: 1px solid #ffffff29;
}

.subChatList {
  margin-top: auto;
  padding: 10px 0;
}

.chatItem {
  padding: 12px 16px;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.chatTitle {
  flex: 1;
}
.subChatTitle {
  text-decoration: none;
  color: #fff;
}
.deleteButton {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  > svg {
    width: 18px;
    height: 18px;
    color: #fff;
  }
}

.chatItem:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* 사이드바가 열렸을 때 화면 오버레이 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlayVisible {
  opacity: 1;
  pointer-events: all;
}

.closeButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  transition: background 0.2s;
}

.closeButton:hover {
  background: rgba(255, 255, 255, 0.1);
}

.loginContainer {
  background-color: transparent;
  color: white;
  border: none;
  border-top: 1px solid #ffffff29;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.loginContainer > svg {
  width: 20px;
  height: 20px;
}
