.sidebar {
  /* position: fixed;
  top: 0;
  left: 0; */
  padding: 20px;
  height: 100vh;
  width: 275px;
  box-sizing: border-box;
  background: black;
  color: #fff;
  /* transform: translateX(-100%); */
  transition: transform 0.3s ease;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.menuList {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.logo {
  width: 84px;
}

.open {
  transform: translateX(0);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  box-sizing: border-box;
}

.title {
  margin-top: 20px;
  padding: 10px 0;
  color: #959595;
}

.chatList {
  flex-grow: 0;
  margin: 10px 0;
  border-bottom: 1px solid #ffffff29;
}

.subChatList {
  margin-top: auto;
  padding: 10px 0;
}

.chatItem {
  cursor: pointer;
  position: relative;
  font-size: 17px;
  flex-wrap: wrap;
  > a > img {
    width: 18px;
    height: 18px;
  }

  > button > img {
    width: 18px;
    height: 18px;
  }
}

.chatIcon {
  transition-duration: 500ms;
}
.chatIcon.open {
  transform: rotate(180deg);
}

.chatItemList.open {
  max-height: 500px;
}
.chatItemList {
  position: static;
  width: 100%;
  transition-duration: 500ms;
  max-height: 0px;
  overflow: hidden;

  > li > a {
    display: block;
    padding: 12px 0 12px 25px;
    text-decoration: none;
    color: #a3a3a3;
    font-size: 15px;
    font-weight: 500;
  }

  > li > a.active {
    color: #fff;
  }
}
.chatItemButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  box-sizing: border-box;
  > img {
    width: 100%;
  }
}
.chatTitle {
  flex: 1;
  width: 100%;
  text-decoration: none;
  box-sizing: border-box;
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 14px;

  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.deleteButton {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  > svg {
    width: 18px;
    height: 18px;
    color: #fff;
  }
}

/* .chatItem:not(:nth-child(2)):hover {
  background: rgba(255, 255, 255, 0.1);
  text-decoration: underline;
} */

/* 사이드바가 열렸을 때 화면 오버레이 */
/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
} */

/* .overlayVisible {
  opacity: 1;
  pointer-events: all;
} */

.closeButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  transition: background 0.2s;
}

.closeButton:hover {
  background: rgb(255, 255, 255);
  > svg {
    color: #333;
  }
}
.userInfo {
  margin-top: auto;
  border-top: 1px solid #ffffff29;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;

  h3 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  p {
    font-size: 14px;
    color: #959595;
  }
}
